In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.22.4 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
import pandas as pd

In [13]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
     -------------------------------------- 250.9/250.9 kB 5.3 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pandas as pd


# Path file Excel (contoh: data.xlsx)
excel_file = "data_group.xlsx"

# Membaca file Excel
df = pd.read_excel(excel_file)

# Menampilkan data untuk memastikan isi file
print("Data dari file Excel:")
print(df)

# Menyimpan ke file CSV
csv_file = "data.csv"
df.to_csv(csv_file, index=False)

print(f"Data telah disimpan ke file CSV: {csv_file}")

Data dari file Excel:
      2022-08-26 00:00:00   15.54  -  \
0     2022-08-26 00:00:00   15.54  -
1     2022-11-23 00:00:00   05.59  -
2     2022-11-24 00:00:00   07.14  -
3     2022-11-25 00:00:00   14.41  -
4              Terimakasi  h semu  a
...                   ...     ... ..
2275  2025-01-03 00:00:00   11.36  -
2276  2025-01-03 00:00:00   11.38  -
2277  2025-01-03 00:00:00   12.34  -
2278  2025-01-03 00:00:00   12.34  -
2279  2025-01-03 00:00:00   13.30  -

     ?€?Pak Kost Malik Majiid membuat grup "Kost putri khadijah"   Unnamed: 4  \
0                                      Anda ditambahkan                   NaN
1     Kode keamanan Anda dengan Setiyorini telah ber...                   NaN
2     Mbak Putri - Kost: Gais yang ninggal cucian wa...           baukkk bang
3     +62 814-7702-9512: Assalamualaikum izin Keluar...                   NaN
4                                                   NaN                   NaN
...                                                 ...                   ...
2275  Mbak Putri - Kost: Kosan listriknya sudah nyal...                   NaN
2276                             Bunga - Kost: Udah mba                   NaN
2277           Pak Kost Malik Majiid: Semuanya ya mba..                   NaN
2278  Pak Kost Malik Majiid: Sering bgt mati lampu d...                   NaN
2279  ?€?Pak Kost Malik Majiid mengeluarkan ~?€ÆApri...                   NaN

        Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0              NaN        NaN        NaN        NaN        NaN         NaN
1              NaN        NaN        NaN        NaN        NaN         NaN
2     etttšŸ?¹šŸ™¸        NaN        NaN        NaN        NaN         NaN
3              NaN        NaN        NaN        NaN        NaN         NaN
4              NaN        NaN        NaN        NaN        NaN         NaN
...            ...        ...        ...        ...        ...         ...
2275           NaN        NaN        NaN        NaN        NaN         NaN
2276           NaN        NaN        NaN        NaN        NaN         NaN
2277           NaN        NaN        NaN        NaN        NaN         NaN
2278           NaN        NaN        NaN        NaN        NaN         NaN
2279           NaN        NaN        NaN        NaN        NaN         NaN

     Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0            NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
2275         NaN         NaN         NaN         NaN         NaN
2276         NaN         NaN         NaN         NaN         NaN
2277         NaN         NaN         NaN         NaN         NaN
2278         NaN         NaN         NaN         NaN         NaN
2279         NaN         NaN         NaN         NaN         NaN

[2280 rows x 16 columns]
Data telah disimpan ke file CSV: data.csv

In [16]:
import pandas as pd
import re

# Fungsi untuk membersihkan data
def clean_data(value):
    """
    Membersihkan data dengan hanya mempertahankan huruf, angka,
    dan tanda baca-tulis umum.
    """
    # Jika data kosong (NaN), kembalikan string kosong
    if pd.isnull(value):
        return ""
    # RegEx untuk membersihkan data
    return re.sub(r"[^a-zA-Z0-9.,!?;:'\"()\[\]{}&% \-]", "", str(value))

# Membaca file CSV
file_path = "data.csv"
df = pd.read_csv(file_path)

# Menampilkan data sebelum pembersihan
print("Data Sebelum Pembersihan:")
print(df)

# Membersihkan seluruh data dalam DataFrame
df_cleaned = df.applymap(clean_data)

# Menampilkan data setelah pembersihan
print("\nData Setelah Pembersihan:")
print(df_cleaned)

# Menyimpan data bersih ke file baru
output_file = "cleaned_data.csv"
df_cleaned.to_csv(output_file, index=False)
print(f"\nData bersih telah disimpan ke '{output_file}'.")

Data Sebelum Pembersihan:
      2022-08-26 00:00:00   15.54  -  \
0     2022-08-26 00:00:00   15.54  -
1     2022-11-23 00:00:00   05.59  -
2     2022-11-24 00:00:00   07.14  -
3     2022-11-25 00:00:00   14.41  -
4              Terimakasi  h semu  a
...                   ...     ... ..
2275  2025-01-03 00:00:00   11.36  -
2276  2025-01-03 00:00:00   11.38  -
2277  2025-01-03 00:00:00   12.34  -
2278  2025-01-03 00:00:00   12.34  -
2279  2025-01-03 00:00:00   13.30  -

     ?€?Pak Kost Malik Majiid membuat grup "Kost putri khadijah"   Unnamed: 4  \
0                                      Anda ditambahkan                   NaN
1     Kode keamanan Anda dengan Setiyorini telah ber...                   NaN
2     Mbak Putri - Kost: Gais yang ninggal cucian wa...           baukkk bang
3     +62 814-7702-9512: Assalamualaikum izin Keluar...                   NaN
4                                                   NaN                   NaN
...                                                 ...                   ...
2275  Mbak Putri - Kost: Kosan listriknya sudah nyal...                   NaN
2276                             Bunga - Kost: Udah mba                   NaN
2277           Pak Kost Malik Majiid: Semuanya ya mba..                   NaN
2278  Pak Kost Malik Majiid: Sering bgt mati lampu d...                   NaN
2279  ?€?Pak Kost Malik Majiid mengeluarkan ~?€ÆApri...                   NaN

        Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0              NaN        NaN        NaN        NaN        NaN         NaN
1              NaN        NaN        NaN        NaN        NaN         NaN
2     etttšŸ?¹šŸ™¸        NaN        NaN        NaN        NaN         NaN
3              NaN        NaN        NaN        NaN        NaN         NaN
4              NaN        NaN        NaN        NaN        NaN         NaN
...            ...        ...        ...        ...        ...         ...
2275           NaN        NaN        NaN        NaN        NaN         NaN
2276           NaN        NaN        NaN        NaN        NaN         NaN
2277           NaN        NaN        NaN        NaN        NaN         NaN
2278           NaN        NaN        NaN        NaN        NaN         NaN
2279           NaN        NaN        NaN        NaN        NaN         NaN

     Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0            NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
2275         NaN         NaN         NaN         NaN         NaN
2276         NaN         NaN         NaN         NaN         NaN
2277         NaN         NaN         NaN         NaN         NaN
2278         NaN         NaN         NaN         NaN         NaN
2279         NaN         NaN         NaN         NaN         NaN

[2280 rows x 16 columns]

Data Setelah Pembersihan:
      2022-08-26 00:00:00   15.54  -  \
0     2022-08-26 00:00:00   15.54  -
1     2022-11-23 00:00:00   05.59  -
2     2022-11-24 00:00:00   07.14  -
3     2022-11-25 00:00:00   14.41  -
4              Terimakasi  h semu  a
...                   ...     ... ..
2275  2025-01-03 00:00:00   11.36  -
2276  2025-01-03 00:00:00   11.38  -
2277  2025-01-03 00:00:00   12.34  -
2278  2025-01-03 00:00:00   12.34  -
2279  2025-01-03 00:00:00   13.30  -

     ?€?Pak Kost Malik Majiid membuat grup "Kost putri khadijah"   Unnamed: 4  \
0                                      Anda ditambahkan
1     Kode keamanan Anda dengan Setiyorini telah ber...
2     Mbak Putri - Kost: Gais yang ninggal cucian wa...           baukkk bang
3     62 814-7702-9512: Assalamualaikum izin Keluar ...
4
...                                                 ...                   ...
2275  Mbak Putri - Kost: Kosan listriknya sudah nyal...
2276                             Bunga - Kost: Udah mba
2277           Pak Kost Malik Majiid: Semuanya ya mba..
2278  Pak Kost Malik Majiid: Sering bgt mati lampu d...
2279  ??Pak Kost Malik Majiid mengeluarkan ?Aprilian...

     Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0
1
2         ettt?
3
4
...         ...        ...        ...        ...        ...         ...
2275
2276
2277
2278
2279

     Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0
1
2
3
4
...          ...         ...         ...         ...         ...
2275
2276
2277
2278
2279

[2280 rows x 16 columns]

Data bersih telah disimpan ke 'cleaned_data.csv'.

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5040\1333489787.py:25: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_cleaned = df.applymap(clean_data)

In [17]:
# Membaca file CSV
file_path = "cleaned_data.csv"
df = pd.read_csv(file_path)

# Menampilkan data sebelum pembersihan
print("Data Sebelum Pembersihan:")
print(df)

Data Sebelum Pembersihan:
      2022-08-26 00:00:00   15.54  -  \
0     2022-08-26 00:00:00   15.54  -
1     2022-11-23 00:00:00   05.59  -
2     2022-11-24 00:00:00   07.14  -
3     2022-11-25 00:00:00   14.41  -
4              Terimakasi  h semu  a
...                   ...     ... ..
2275  2025-01-03 00:00:00   11.36  -
2276  2025-01-03 00:00:00   11.38  -
2277  2025-01-03 00:00:00   12.34  -
2278  2025-01-03 00:00:00   12.34  -
2279  2025-01-03 00:00:00   13.30  -

     ?€?Pak Kost Malik Majiid membuat grup "Kost putri khadijah"   Unnamed: 4  \
0                                      Anda ditambahkan                   NaN
1     Kode keamanan Anda dengan Setiyorini telah ber...                   NaN
2     Mbak Putri - Kost: Gais yang ninggal cucian wa...           baukkk bang
3     62 814-7702-9512: Assalamualaikum izin Keluar ...                   NaN
4                                                   NaN                   NaN
...                                                 ...                   ...
2275  Mbak Putri - Kost: Kosan listriknya sudah nyal...                   NaN
2276                             Bunga - Kost: Udah mba                   NaN
2277           Pak Kost Malik Majiid: Semuanya ya mba..                   NaN
2278  Pak Kost Malik Majiid: Sering bgt mati lampu d...                   NaN
2279  ??Pak Kost Malik Majiid mengeluarkan ?Aprilian...                   NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0           NaN        NaN        NaN        NaN        NaN         NaN
1           NaN        NaN        NaN        NaN        NaN         NaN
2         ettt?        NaN        NaN        NaN        NaN         NaN
3           NaN        NaN        NaN        NaN        NaN         NaN
4           NaN        NaN        NaN        NaN        NaN         NaN
...         ...        ...        ...        ...        ...         ...
2275        NaN        NaN        NaN        NaN        NaN         NaN
2276        NaN        NaN        NaN        NaN        NaN         NaN
2277        NaN        NaN        NaN        NaN        NaN         NaN
2278        NaN        NaN        NaN        NaN        NaN         NaN
2279        NaN        NaN        NaN        NaN        NaN         NaN

     Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0            NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
2275         NaN         NaN         NaN         NaN         NaN
2276         NaN         NaN         NaN         NaN         NaN
2277         NaN         NaN         NaN         NaN         NaN
2278         NaN         NaN         NaN         NaN         NaN
2279         NaN         NaN         NaN         NaN         NaN

[2280 rows x 16 columns]

In [18]:
# Menyimpan data bersih ke file baru
output_file = "cleaned_data.txt"
df_cleaned.to_csv(output_file, index=False)
print(f"\nData bersih telah disimpan ke '{output_file}'.")

Data bersih telah disimpan ke 'cleaned_data.txt'.

In [32]:
# Membaca file CSV
x = "data_group.txt"
df = pd.read_csv(x)

# Menampilkan data sebelum pembersihan
print("Data Sebelum Pembersihan:")
print(df)

Data Sebelum Pembersihan:
      2022-08-26 00:00:00   15.54  -  \
0     2022-08-26 00:00:00   15.54  -
1     2022-11-23 00:00:00   05.59  -
2     2022-11-24 00:00:00   07.14  -
3     2022-11-25 00:00:00   14.41  -
4              Terimakasi  h semu  a
...                   ...     ... ..
2275  2025-01-03 00:00:00   11.36  -
2276  2025-01-03 00:00:00   11.38  -
2277  2025-01-03 00:00:00   12.34  -
2278  2025-01-03 00:00:00   12.34  -
2279  2025-01-03 00:00:00   13.30  -

     ?€?Pak Kost Malik Majiid membuat grup "Kost putri khadijah"   Unnamed: 4  \
0                                      Anda ditambahkan                   NaN
1     Kode keamanan Anda dengan Setiyorini telah ber...                   NaN
2     Mbak Putri - Kost: Gais yang ninggal cucian wa...           baukkk bang
3     62 814-7702-9512: Assalamualaikum izin Keluar ...                   NaN
4                                                   NaN                   NaN
...                                                 ...                   ...
2275  Mbak Putri - Kost: Kosan listriknya sudah nyal...                   NaN
2276                             Bunga - Kost: Udah mba                   NaN
2277           Pak Kost Malik Majiid: Semuanya ya mba..                   NaN
2278  Pak Kost Malik Majiid: Sering bgt mati lampu d...                   NaN
2279  ??Pak Kost Malik Majiid mengeluarkan ?Aprilian...                   NaN

     Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  \
0           NaN        NaN        NaN        NaN        NaN         NaN
1           NaN        NaN        NaN        NaN        NaN         NaN
2         ettt?        NaN        NaN        NaN        NaN         NaN
3           NaN        NaN        NaN        NaN        NaN         NaN
4           NaN        NaN        NaN        NaN        NaN         NaN
...         ...        ...        ...        ...        ...         ...
2275        NaN        NaN        NaN        NaN        NaN         NaN
2276        NaN        NaN        NaN        NaN        NaN         NaN
2277        NaN        NaN        NaN        NaN        NaN         NaN
2278        NaN        NaN        NaN        NaN        NaN         NaN
2279        NaN        NaN        NaN        NaN        NaN         NaN

     Unnamed: 11 Unnamed: 12 Unnamed: 13 Unnamed: 14 Unnamed: 15
0            NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...
2275         NaN         NaN         NaN         NaN         NaN
2276         NaN         NaN         NaN         NaN         NaN
2277         NaN         NaN         NaN         NaN         NaN
2278         NaN         NaN         NaN         NaN         NaN
2279         NaN         NaN         NaN         NaN         NaN

[2280 rows x 16 columns]

In [33]:
import re
from collections import defaultdict

In [34]:
with open(x, 'r', encoding='utf-8') as file:
    lines = file.readlines()

In [35]:
# Proses komentar berdasarkan grup
group_data = defaultdict(list)
current_group = None

In [36]:
for line in lines:
    if "Kost putri khadijah" in line:
        current_group = "MENTORING FKI"
    elif "GROUP NAME XYZ" in line:  # Tambahkan nama grup lainnya
        current_group = "GROUP NAME XYZ"

    if current_group:
        group_data[current_group].append(line)

In [37]:
# Pilih grup dengan jumlah komentar terbanyak
selected_group = max(group_data, key=lambda k: len(group_data[k]))

In [38]:
# Simpan data ke file teks
with open('data_group.txt', 'w', encoding='utf-8') as file:
    file.writelines(group_data[selected_group])

In [39]:
import tarfile

with tarfile.open("cleaned_data.tar", "w") as tar:
    tar.add("cleaned_data.csv")

In [40]:
cleaned_lines = []
for line in lines:
    cleaned_line = re.sub(r'[^a-zA-Z0-9\s.,!?]', '', line)
    cleaned_lines.append(cleaned_line)

# Simpan versi bersih
with open('data_group_cleaned.txt', 'w', encoding='utf-8') as file:
    file.writelines(cleaned_lines)

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

# Membaca data
with open('data_group_cleaned.txt', 'r', encoding='utf-8') as file:
    data = file.readlines()

# TF-IDF
vectorizer = TfidfVectorizer(stop_words='english')
X = vectorizer.fit_transform(data)

# KMeans Clustering
for n_clusters in [3, 4, 5]:
    kmeans = KMeans(n_clusters=n_clusters, random_state=42)
    labels = kmeans.fit_predict(X)

    print(f"Cluster {n_clusters}")
    terms = vectorizer.get_feature_names_out()
    for i in range(n_clusters):
        top_terms = [terms[ind] for ind in kmeans.cluster_centers_.argsort()[0][-3:]]
        print(f"Cluster {i}: {', '.join(top_terms)}")

Cluster 3
Cluster 0: pak, kost, 000000
Cluster 1: pak, kost, 000000
Cluster 2: pak, kost, 000000
Cluster 4
Cluster 0: putri, 62, 000000
Cluster 1: putri, 62, 000000
Cluster 2: putri, 62, 000000
Cluster 3: putri, 62, 000000
Cluster 5
Cluster 0: putri, 62, 000000
Cluster 1: putri, 62, 000000
Cluster 2: putri, 62, 000000
Cluster 3: putri, 62, 000000
Cluster 4: putri, 62, 000000

In [42]:
html_content = f"""



    
    
    Laporan Clustering
    


    Laporan Hasil Clustering
    Data diproses dan dianalisis dengan metode TF-IDF dan algoritma KMeans untuk membuat 3, 4, dan 5 klaster.
    Analisis
    
        Hasil Clustering (3 Klaster)
        ... Analisis dan kata teratas ...
        Hasil Clustering (4 Klaster)
        ... Analisis dan kata teratas ...
        Hasil Clustering (5 Klaster)
        ... Analisis dan kata teratas ...
    


"""

report_file = "laporan.html"
with open(report_file, 'w', encoding='utf-8') as file:
    file.write(html_content)

print(f"Laporan HTML tersimpan di: {report_file}")

Laporan HTML tersimpan di: laporan.html